@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&family=Open+Sans:wght@300&display=swap');

html {
    background-color: black;
    text-align: center;
    color: white;
}

h1 {
    font-size: 50px;
}